<div class="page-left">
    <ul class="menu">
        <li .SettingBasic}}class="active" {{end}}{{if><a class="item" href="/setting"><i aria-hidden="true"
                                                                                         class="fa fa-sitemap"></i> 基本信息</a>
        </li>
        <li .SettingBook}}class="active" {{end}}{{if><a class="item" href="/book"><i aria-hidden="true"
                                                                                     class="fa fa-sitemap"></i> 我的图书</a>
        </li>

    </ul>
</div>
